@model Facebook.Models.ActivityFeedPart
@using Orchard.Utility.Extensions;
@using Facebook.Models;
@using Facebook.Models.Enums;

<fieldset>
    <legend>@T("Facebook Activity feed")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.Site)">@T("Site")</label>
        @Html.TextBoxFor(m => m.Site, new { @class = "textMedium" })
        @Html.ValidationMessage("Site", "*")
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.Width)">@T("Width")</label>
        @Html.TextBoxFor(m => m.Width, new { @class = "text-small" })&nbsp;px
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.Height)">@T("Height")</label>
        @Html.TextBoxFor(m => m.Height, new { @class = "text-small" })&nbsp;px
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ColorScheme)">@T("Color scheme")</label>
        @Html.DropDownListFor(m => m.ColorScheme, Enum.GetValues(typeof(ColorScheme)).Cast<ColorScheme>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }))
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ShowHeader)">@T("Show header")</label>
        @Html.CheckBoxFor(m => m.ShowHeader)
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ShowRecommendations)">@T("Show recommendations")</label>
        @Html.CheckBoxFor(m => m.ShowRecommendations)
    </div>    
    <div>
        <label for="@Html.FieldIdFor(m => m.Font)">@T("Font")</label>
        @Html.TextBoxFor(m => m.Font, new { @class = "textMedium" })
    </div>   
    <div>
        <label for="@Html.FieldIdFor(m => m.BorderColor)">@T("Border color")</label>
        @Html.TextBoxFor(m => m.BorderColor, new { @class = "textMedium" })
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.Language)">@T("Language")</label>
        @Html.TextBoxFor(m => m.Language, new { @class = "text-small" })
    </div>
</fieldset>