@model Facebook.Models.RecommendationFeedPart
@using Orchard.Utility.Extensions;
@using Facebook.Models;
@using Facebook.Models.Enums;

<fieldset>
    <legend>@T("Facebook Recommendations feed")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.Site)">@T("Site")</label>
        @Html.TextBoxFor(m => m.Site, new { @class = "text medium" })
        @Html.ValidationMessage("Site", "*")
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.Width)">@T("Width")</label>
        @Html.TextBoxFor(m => m.Width, new { @class = "text small" })&nbsp;px
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.Height)">@T("Height")</label>
        @Html.TextBoxFor(m => m.Height, new { @class = "text small" })&nbsp;px
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.MaxAge)">@T("Max age")</label>
        @Html.TextBoxFor(m => m.MaxAge, new { @class = "text small" })&nbsp;@T("days")
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ColorScheme)">@T("Color scheme")</label>
        @Html.DropDownListFor(m => m.ColorScheme, Enum.GetValues(typeof(ColorScheme)).Cast<ColorScheme>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }))
    </div>
    <div>
        @Html.CheckBoxFor(m => m.ShowHeader)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.ShowHeader)">@T("Show header")</label>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.Actions)">@T("Action")</label>
        @Html.TextBoxFor(m => m.Actions, new { @class = "text medium" })
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.AppId)">@T("App Id")</label>
        @Html.TextBoxFor(m => m.AppId, new { @class = "text medium" })
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.Ref)">@T("Ref")</label>
        @Html.TextBoxFor(m => m.Ref, new { @class = "text medium" })
    </div>
</fieldset>